:root {
  --background: rgb(255, 180, 180);
  --btn-background: rgb(65, 65, 214);

  --heading-1: "46px";
  --paragraph-text: "24px";
}

.blue-button {
  color: #f7f1f1;
  background-color: var(--btn-background);
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
}

.blue-button {
  color: white;
  background-color: blue;
}

.contact-form {
  width: 260px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.input-div {
  display: flex;
  justify-content: space-between;
}
